@import url(./reset.css);
@font-face {
    font-family: 'Montserrat Regular';
    src: local('Montserrat Regular'), url('./Montserrat-Regular.woff') format('woff');
}
html {
    font-family: "Montserrat", sans-serif;
}

.header{
    width: 100%;
    padding: 32px 0px;
}
.navbar-menu {
    width: 620px;
    margin: 0 auto;
}
.Link-wrapper {
    display: inline-block;
    margin-right: 72px;

}
.Link-wrapper:last-child{
    margin-right: -22px;

}
.Link-red{
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    letter-spacing: 2.7px;
    text-transform: uppercase;
    color: #ff0000;
}

.bg-image{
    width: 100%;
    height: 789px;
    background-color: darkslateblue;
    background-size: cover;
    background-repeat: no-repeat;
}

.bg-image{
    background-image: url("./bg-image.png");
}

.container {
    width: 100%;
    padding: 48px 68px 42px;
    text-align: center;
    }
.title {
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    letter-spacing: 3.3px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 38px;
    color: #373737;
}
.text {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    /* or 162% */
    text-align: center;
    letter-spacing: 2.4px;
    margin-top: 28px;
    color: #373737;
}

.btn-started {
    border: none;
    background: #FF0000;
    border-radius: 4px;
    padding: 18px 43px;
    letter-spacing: 1.8px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
    line-height: 12px;
    color: #FFFFFF;
    margin: 66px auto;
    cursor: pointer;
}

.copyright {
    width: 100%;
    padding: 0px 105px 29px 105px ;
    text-align: right;
}
.copyright-text {
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 2.4px;
    text-transform: initial ;
    color: #373737;
}
